includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - Modules
    excludePaths:
        - app/Http/Controllers/Controller.php
        - Modules/*/config/*
        - Modules/*/resources/*
        - Modules/*/routes/*
        - Modules/*/database/seeders/*
        - Modules/*/tests/*
        - tests/*
    parallel:
        maximumNumberOfProcesses: 1
        minimumNumberOfJobsPerProcess: 1
        processTimeout: 60.0
    reportUnmatchedIgnoredErrors: false
